<%- include('./partials/head.ejs', {cssSheet: "styles.css", title: "Pagina de Administrador"}) %>
<%- include('./partials/header.ejs') %>


<h2>Crear productos</h2>

<a href="/users/admin/editarProducto" class="">Ya tengo un producto, Editar</a>
<a href="/users/admin/eliminarProducto" class="">Eliminar un producto existente</a>


<form>
    <div class="item-formulario">
        <label for="nombreProducto">Nombre del Producto</label>
        <input type="text" id="nombreProducto" name="nombreProducto" required>
    </div>
    <div class="item-formulario">
        <label for="descipcionProducto">Descripcion del Producto</label>
        <input type="textarea" id="descipcionProducto" name="descipcionProducto" required>
    </div>
    <div class="item-formulario">
        <label for="imagenProducto">Imagen del Producto</label>
        <input type="file" id="imagenProducto" name="imagenProducto" required>
    </div>
    <div class="item-formulario">
        <label for="categoria">Categoria</label>
        <input type="text" id="categoria" name="categoria" required>
    </div>
    <div class="item-formulario">
        <label for="colorProducto">Color del Producto</label>
        <input type="text" id="colorProducto" name="colorProducto" required>
    </div>
    <div class="item-formulario">
        <label for="precioProducto">Precio del Producto</label>
        <input type="text" id="precioProducto" name="precioProducto" required>
    </div>

    <button class="boton-registro" type="submit">Enviar</button>



</form>






<%- include('./partials/footer.ejs') %>