
<%- include('./partials/head.ejs', {cssSheet: "styles.css", title: "Home"}) %>
<%- include('./partials/header.ejs') %>


<body class="background-index">
    <main>
        <a href="/contact/contactanos"></a>
        <div class="formulario-registro">

            <form action="/contactanos" method="POST">
                <h2>Para más información envianos un email!</h2>
                <div class="item-formulario">
                    <label for="nombre-y-apellido">Nombre y Apellido</label>
                    <input type="text" id="nombre-y-apellido" name="nombre-y-apellido" value= >
                </div>

                <div class="item-formulario">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </div>
                
                <div class="item-formulario">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" name="phoneNumber">
                </div>

                <div class="item-formulario">
                    <label for="empresa">Empresa</label>
                    <input type="text" name="empresa">
                </div>

                <div class="item-formulario">
                    <label for="mensaje">Escribí tu consulta acá</label>
                    <textarea name="mensaje" id="mensaje" cols="36" rows="10"></textarea>
                </div class="item-formulario">
                <button class="boton-registro" type="submit">Enviar</button>

                    
            </form>
        </div>
       
        

    </main>
</body>
<%- include('./partials/footer.ejs') %>