<%- include('./partials/head.ejs', {cssSheet: "styles.css", title: "Eliminar Producto"}) %>
<%- include('./partials/header.ejs') %>

<h2>Eliminar Producto</h2>

<form>
    <div class="item-formulario">
        <label for="eliminarProducto">Ingresa el ID del producto a Eliminar</label>
        <input type="text" id="eliminarProducto" name="eliminarProducto" required>
    </div>
    <button class="boton-registro" type="submit">Eliminar</button>
</form>





<%- include('./partials/footer.ejs') %>