
<%- include('./partials/head.ejs', {cssSheet: "styles.css", title: "Home"}) %>
<%- include('./partials/header.ejs') %>


    <main>
        <h2 class="titulo-main"> Productos Destacados</h2>
        <section class="caja-productos-destacados">
            <div class="caja-producto">
                <img src="/img/audifonos-bluetooth-celestes.jfif" class="imagen-producto">
                <div class="descripcion-producto">
                    <ul class="lista-descripcion-producto">
                        <li>Auriculares Bluetooth</li>
                        <li>Desde $150.000</li>
                    
                    </ul>
                </div>
            </div>
            <div class="caja-producto">
                <img src="/img/botella-aceroinoxidable-burdeos.jpg" class="imagen-producto">
                <div class="descripcion-producto">
                    <ul class="lista-descripcion-producto">
                        <li>Botellas de Inox</li>
                        <li>Desde $200.000</li>
                    
                    </ul>
                </div>
            </div>
            <div class="caja-producto">
                <img src="/img/chomba-gris.jpg" class="imagen-producto">
                <div class="descripcion-producto">
                    <ul class="lista-descripcion-producto">
                        <li>Chombas</li>
                        <li>Desde $100.000</li>
                    
                    </ul>
                </div>
            </div>
        </section>
        <h2 class="titulo-nuevos-productos">Nuevos Productos</h2>
        <section class="caja-productos-nuevos">
            <div class="caja-hija-productos-nuevos" >
                <img src="/img/funda-notebook-azul.jpg" class="imagen-producto-nuevo">
                <div class="ver-mas"><a href="/productDetail" class="link-ver-mas">Ver Mas</a></div>
            </div>
            <div class="caja-hija-productos-nuevos">
                <img src="/img/kitmatero-jean&cuero.jpg" class="imagen-producto-nuevo">
                <div class="ver-mas"><a href="/productDetail" class="link-ver-mas">Ver Mas</a></div>
            </div>
            <div class="caja-hija-productos-nuevos">
                <img src="/img/llavero-tela&metal-azul.jpg" class="imagen-producto-nuevo">
                <div class="ver-mas"><a href="/productDetail" class="link-ver-mas">Ver Mas</a></div>
            </div>
            <div class="caja-hija-productos-nuevos">
                <img src="/img/libreta-tapacartonreciclado-verde.jpg" class="imagen-producto-nuevo">
                <div class="ver-mas"><a href="/productDetail" class="link-ver-mas">Ver Mas</a></div>
            </div>
            </section>
            



        




    </main>

 <%- include('./partials/footer.ejs') %>