<%- include('./partials/head.ejs', {cssSheet: "styles.css", title: "Home"}) %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/navMobile.ejs') %>


<body class="body-nosotros">
    <main>
        <div class="contenedor-imagen-nosotros">
            <img src="/img/nosotros.jpg" alt="imagen-texto-nosotros" class="imagen-texto-nosotros">
        </div>

        <div class="text-nosotros">
            <p>Nuestro sitio web brindará productos innovadores de merchandising para empresas. Dichos productos incluirán desde artículos de oficina, indumentaria, accesorios, tecnología, entre otros.</p>
        </div>

        <div class="text-nosotros">
            <p>Nuestro público objetivo van a ser empresas ubicadas en Argentina y que no tengan su propia fábrica de producción de merchandising, a las cuales les facilitaremos diferentes opciones de envió y disponibilidad de stock al tener nuestra fábrica de productos en el país.</p>
        </div>

        <div class="text-nosotros">
            <p>Nuestra plataforma web se convertirá en un oasis de creatividad y eficiencia para las empresas en Argentina. Nos enorgullece ofrecer una amplia gama de productos de merchandising innovadores que abarcan desde artículos de oficina hasta indumentaria, accesorios de vanguardia y tecnología de última generación, entre otros emocionantes elementos.</p>
        </div>

        <div class="text-nosotros">
            <p >Nuestra misión es servir como un socio estratégico para las empresas que buscan potenciar su marca a través del merchandising, especialmente aquellas que no cuentan con su propia fábrica de producción. Gracias a nuestra fábrica local de productos, podemos garantizar la disponibilidad de stock y opciones de envío flexibles para satisfacer sus necesidades de manera rápida y eficaz.</p>
        </div>

        <div class="text-nosotros">
            <p>Estamos comprometidos en ayudar a estas empresas a destacarse en el mercado, ofreciéndoles una amplia variedad de productos personalizables y asesoramiento experto para impulsar sus estrategias de marketing y branding. Con nuestro enfoque en la calidad, la creatividad y la conveniencia, estamos seguros de que seremos el aliado perfecto para el éxito de su negocio en el mundo del merchandising.</p>
        </div>
    </main>
</body>






<%- include('./partials/footer.ejs') %>