<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pacifico&display=swap" rel="stylesheet">
    <title>Carrito de Compras</title>
</head>
<body>
    <header>
        <img src="" alt="logo" class="logo">
        <h1 class="titulo"> The Merch Market</h1>
        <form action="" >
            <label class="caja-barra-busqueda">
                <input type="text" name="barra-busqueda" class="barra-busqueda" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </form>
        <div class="icono-carrito">
            <i class="fa-thin fa-cart-shopping"></i>
    

        </div>
        <article class="botones-ingresa-registrate">
                <a href="#" class="enlace-ingresa">Ingresa</a>
                <a href="#" class="enlace-registrate">Registrate</a>
        </article>
        <nav class="barra-navegacion">
            <ul class="caja-barra-navegacion">
                <li>Inicio</li>
                <li>Categorias</li>
                <li>Lo Nuevo</li>
                <li>Nosotros</li>
                <li>Contactanos</li>
            </ul>
        </nav>


    </header>
    <section class="contenedor-de-productos">
        <div class="productos-varios">
            <article class="items">
                <h3>Nombre del Producto</h3>
                <img src="" alt="">
                <p>precio del producto</p>
                <button class="boton-agregar">Agregar al carrito</button>
            </article>
            
                <article class="items">
                    <h3>Nombre del Producto</h3>
                    <img src="" alt="">
                    <p>precio del producto</p>
                    <button class="boton-agregar">Agregar al carrito</button>
                </article>
               
                    <article class="items">
                        <h3>Nombre del Producto</h3>
                        <img src="" alt="">
                        <p>precio del producto</p>
                        <button class="boton-agregar">Agregar al carrito</button>
                    </article>
                    
                        <article class="items">
                            <h3>Nombre del Producto</h3>
                            <img src="" alt="">
                            <p>precio del producto</p>
                            <button class="boton-agregar">Agregar al carrito</button>
                        </article>
                    </div>
                    <!--carrito de compras-->
                    <div class="carrito">
                        <div class="header-carrito">
                            <h3>Tu Carrito</h3>
                        </div>

                        <div class="carrito-items">
                            
                        </div>
                    </div>


    </section>
    
</body>
</html>