<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/732f64c85a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pacifico&display=swap" rel="stylesheet">
    <title>Carrito de Compras</title>
</head>

<body>
    <header>
        <section class="header-principal">
            <a href="/" class="caja-logo">
                <img src="/img/logo-ajustado.jpg" alt="logo" class="logo">
                <img src="/img/mini-logo1.jpg" alt="mini-logo" class="mini-logo">
            </a>
            <section class="caja-titulo-y-barra-busqueda">
                <h1 class="titulo"> The Merch Market</h1>
                <form action="">
                    <label class="caja-barra-busqueda">
                        <input type="text" name="barra-busqueda" class="barra-busqueda" placeholder="Buscar...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </form>
            </section>
            <div class="caja-botones-y-carrito">

                <div class="icono-carrito">
                    <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <article class="botones-ingresa-registrate">
                    <a href="/login" class="enlace-ingresa">Ingresa</a>
                    <a href="/register" class="enlace-registrate">Registrate</a>
                </article>
            </div>
        </section>
        <section class="header-navbar">
            <nav class="barra-navegacion">
                <ul class="caja-barra-navegacion">
                    <li>Inicio</li>
                    <li>Categorias</li>
                    <li>Lo Nuevo</li>
                    <li>Nosotros</li>
                    <li>Contactanos</li>
                </ul>
            </nav>
        </section>


    </header>
    <main>
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">

                <div class="carrito-item">
                    <img src="/img/audifonos-bluetooth-celestes.jfif" width="80px" alt="audifonos-bluetooth-celestes">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Auriculares Bluetooth</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$150.000</span>
                    </div>
                    <span class="btn-eliminar">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>
                <div class="carrito-item">
                    <img src="/img/llavero-tela&metal-azul.jpg" width="80px" alt="llavero-tela-azul">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Llavero de tela (azul)</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="3" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$1000,00</span>
                    </div>
                    <button class="btn-eliminar">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </div>

            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $153.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>

    </main>

    <footer>
        <nav class="barra-navegacion-footer" >
            <p><i class="fa-solid fa-phone"></i> Contactanos al +54 156 789 1011</p>
            <p><i class="fa-brands fa-whatsapp"> O por WhatsApp +54 156 789 1011</i></p>
            <a href="#" class="link-email"><i class="fa-solid fa-envelope"></i> ventas@themerchmarket.com</a>
            <p>Visita nuestras redes sociales <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-x-twitter"></i></p>
        </nav>
        <form action="/#" method="post">
            <label for="email">Suscríbete para recibir nuestras novedades:</label>
            <input type="email" id="email" name="email" class="barra-email-suscripcion" placeholder="Ingresa tu email" required>
            <button type="submit" class="boton-footer-suscribir">Suscribirse</button>
        </form>



        <small class="nav-footer-copyright">Copyright © 2023-2023 The Merch Market.</small>
    </footer>
</body>

</html>