<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/732f64c85a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pacifico&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <section class="header-principal">
            <a href="/" class="caja-logo">
                <img src="/img/logo-ajustado.jpg" alt="logo" class="logo">
                <img src="/img/mini-logo1.jpg" alt="mini-logo" class="mini-logo">
            </a>
            <section class="caja-titulo-y-barra-busqueda">
                <h1 class="titulo"> The Merch Market</h1>
                <form action="" >
                    <label class="caja-barra-busqueda">
                        <input type="text" name="barra-busqueda" class="barra-busqueda" placeholder="Buscar...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </form>
            </section>
            <div class="caja-botones-y-carrito">

                <div class="icono-carrito">
                     <a href="/productCart" ><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <article class="botones-ingresa-registrate">
                    <a href="/login" class="enlace-ingresa">Ingresa</a>
                    <a href="/register" class="enlace-registrate">Registrate</a>
                </article>
            </div>
        </section>
        <section class="header-navbar">
            <nav class="barra-navegacion">
                <ul class="caja-barra-navegacion">
                    <li>Inicio</li>
                    <li>Categorias</li>
                    <li>Lo Nuevo</li>
                    <li>Nosotros</li>
                    <li>Contactanos</li>
            </ul>
        </nav>
        </section>
    </header>
    
    <main class="main-detalleProducto">
        <div class="titulo-principal">
            <h1>Detalle de Productos:</h1>
        </div>

        <div class="nombre-producto">
            <h2>Tazas de ceramica y corcho</h2>
        </div>
   
        <div class="container-producto">
            <div class="imagen-producto">
                <img src="/img/tazas-ceramica-varias.jpg" alt="tazas-ceramica" class="imagen-tazas">
            </div>
            <div class="descripcion-producto">
                <p class="descripcion"><u class="subrayado">Materiales</u>: cerámica y base de corcho</p>
                <p class="descripcion"><u class="subrayado">Colores</u>: rojo - marrón - blanco - negro - azul - verde</p>
                <p class="descripcion"><u class="subrayado">Medidas</u>: 6,00 cm (ancho) - 10,50cm (alto) - 310g (peso)
                <p class="descripcion"><u class="subrayado">Capacidad</u>: 280ml</p>
                <p class="descripcion"><u class="subrayado">Unidades de embalaje</u>: 1 pieza</p>
                <p class="descripcion"><u class="subrayado">Costo por unidad</u>: $2.000</p>
                <p class="descripcion"><u class="subrayado">Formas de pago</u>: efectivo - débito - crédito - Mercado Pago</p>
                <p class="descripcion"><u class="subrayado">Modos de envio</u>: correo Argentino - Andreani - retiro en oficina</p>
            
                <p class="agregarAlCarrito">Agregar al carrito:</p>
                <button class="boton-carrito"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>


        <div class="flechas">
            <div class="flecha-anterior">
                <button class="boton-flechaAnterior"><i class="fa-solid fa-arrow-left"></i></button>
                <p class="anterior">(ANTERIOR)</p>
            </div>

            <div class="flecha-siguiente">
                <button class="boton-flechaSiguiente"><i class="fa-solid fa-arrow-right"></i></button>
                <p class="siguiente">(SIGUIENTE)</p>
            </div>
        </div>

            

    </main>

    <footer>
        <footer>
            <small class="nav-footer-copyright">Copyright © 2023-2023 The Merch Market.</small>
        </footer>
    </footer>
    
</body>
</html>


    
