


/* Estilo para el header */



header {
    background-color: #606C34;
    font-family: 'Pacifico', cursive;
    
}

.header-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.caja-logo{
    width: 25%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.logo{
    display: none;
    width: 100%;
    border-radius: 30px;
}
.mini-logo{
    width: 100%;
    border-radius: 30px;
}
.caja-titulo-y-barra-busqueda{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titulo{
    color: #FEFAE0;
    text-align: center;
    width: 100%;
    
}
.caja-barra-busqueda{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.barra-busqueda{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 60%;
    background-color: #FEFAE0;
}
.fa-magnifying-glass {
    position: relative;
    right: 30px;
}
.caja-botones-y-carrito{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}
.icono-carrito{
    display: none;
    margin: auto;
    
}


.icono-carrito a{
    text-decoration: none;
    display: block;
    color: #FEFAE0;
    border: #FEFAE0 solid 1px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    transition: all 0.5s;
}
.icono-carrito a:hover{
    transform: rotate(-90deg);
    
}

.botones-ingresa-registrate {
    display: flex;
    flex-direction: column;
    align-items:self-end;
    padding: 10px;
    justify-content: center;
    
}


.botones-ingresa-registrate a{
    text-decoration: none;
    
}
.enlace-ingresa{
    
    background-color: #32381b;
    color: #FEFAE0;
    border: 0px;
    border-radius: 30px;
    width: 80px;
    text-align: center;
    margin-bottom: 8px;
}
.enlace-registrate{
    background-color: #FEFAE0;
    color: #32381b;
    border: 0px;
    border-radius: 30px;
    width: 80px;
    text-align: center; 
}

.barra-navegacion{
    font-family: 'Amatic SC', sans-serif;
    background-color: #FEFAE0;
   

}



.caja-barra-navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.caja-barra-navegacion li {
    font-weight: 600;
}


/* PRODUCT DETAIL */

/* Main */






@media (min-width: 420px){
.icono-carrito{
    display: block;
}

}


@media (min-width: 768px){
.logo{
    display: block;
}
.mini-logo{
    display: none;
}

.icono-carrito{
    margin-right: 10px;
}
.caja-barra-navegacion li{
    font-size: 18px;
}



}


@media (min-width: 992px){
.titulo{
    font-size: 22px;
}
.caja-barra-navegacion li{
    font-size: 20px;
}
.botones-ingresa-registrate{
    padding-right: 40px;
}
.enlace-ingresa{
    font-size: 18px;
    width: 100px;
}
.enlace-registrate{
    font-size: 18px;
    width: 100px;
}


}

@media (min-width: 1200px){
.titulo{
    font-size: 26px;
}

}