


/* Estilo para el header */



header {
    background-color: #606C34;
    font-family: 'Pacifico', cursive;
    
}
.titulo{
    color: #FEFAE0;
    text-align: center;
}
.caja-barra-busqueda{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-busqueda{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    background-color: #FEFAE0;
}
.fa-magnifying-glass {
    position: absolute;
    right: 35%;
}

.botones-ingresa-registrate {
    display: flex;
    flex-direction: column;
    align-items:self-end;
    padding: 10px;
    
}

.botones-ingresa-registrate a{
    text-decoration: none;
    
}
.enlace-ingresa{
    
    background-color: #32381b;
    color: #FEFAE0;
    border: 0px;
    border-radius: 25%;
    width: 80px;
    text-align: center;
    margin-bottom: 8px;
}
.enlace-registrate{
    background-color: #FEFAE0;
    color: #32381b;
    border: 0px;
    border-radius: 25%;
    width: 80px;
    text-align: center; 
}

.barra-navegacion{
    font-family: 'Amatic SC', sans-serif;
    background-color: #FEFAE0;
   

}



.caja-barra-navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
