


/* Estilo para el header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    background-color: #606C34;
    font-family: 'Pacifico', cursive;
    
}

.header-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.caja-logo{
    width: 25%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.logo{
    display: none;
    width: 100%;
    border-radius: 30px;
}
.mini-logo{
    width: 100%;
    border-radius: 30px;
}
.caja-titulo-y-barra-busqueda{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titulo{
    color: #FEFAE0;
    text-align: center;
    width: 100%;
    
}
.caja-barra-busqueda{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.barra-busqueda{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 60%;
    background-color: #FEFAE0;
}
.fa-magnifying-glass {
    position: relative;
    right: 30px;
}
.caja-botones-y-carrito{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}
.icono-carrito{
    display: none;
    margin: auto;
    
}


.icono-carrito a{
    text-decoration: none;
    display: block;
    color: #FEFAE0;
    border: #FEFAE0 solid 1px;
    border-radius: 50%;
    text-align: center;
    width: 33px;
    height: 33px;
    margin-top: 10px;
    transition: all 0.5s;
}
.icono-carrito a:hover{
    transform: rotate(-90deg);
    
}

.botones-ingresa-registrate {
    display: flex;
    flex-direction: column;
    align-items:self-end;
    padding: 10px;
    justify-content: center;
    
}


.botones-ingresa-registrate a{
    text-decoration: none;
    
}
.enlace-ingresa{
    
    background-color: #32381b;
    color: #FEFAE0;
    border: 0px;
    border-radius: 30px;
    width: 80px;
    text-align: center;
    margin-bottom: 8px;
}
.enlace-registrate{
    background-color: #FEFAE0;
    color: #32381b;
    border: 0px;
    border-radius: 30px;
    width: 80px;
    text-align: center; 
}

.barra-navegacion{
    font-family: 'Amatic SC', sans-serif;
    background-color: #FEFAE0;
   

}



.caja-barra-navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.caja-barra-navegacion li {
    font-weight: 600;
}



/* Main Home*/

main {
    background-color: #f5f5f5; 
  }
.titulo-main{
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 15px;
}
.titulo-nuevos-productos{
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 10px;
    
}

.caja-productos-destacados{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    
    
}
.caja-producto{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    transition: all 0.5s ease;
}
.caja-producto:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}


.caja-productos-nuevos{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
}
.lista-descripcion-producto{
     display: flex;
     flex-direction: column;
     justify-content: flex-end; 
     align-items: flex-start;
}
.lista-descripcion-producto li{
    list-style: none;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 600;
}
.caja-hija-productos-nuevos{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid black 1px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
}
.imagen-producto-nuevo{
    width: 90%;
}
.link-ver-mas{
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 600;
   
}
.ver-mas{
    text-align: center;
    border: solid 1px black;
    background-color: #ccc;
    transition: all 0.5s ease;
}
.ver-mas:hover{
    background-color: rgb(42, 185, 42);
    border: solid 3px black;
    color: white;
}

/*sección-de-carrito-*/

.carrito{
    border: 1px solid #606C34;
    width: 30%;
    margin-top: 30px;
    margin-left: 700px;
    border-radius: 1px;
      
}

.carrito .header-carrito{
    background-color: #606C34;
    color: #FEFAE0;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #606C34;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #32381b;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #32381b;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #32381b;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #32381b;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #32381b;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background:  #606C34;
    color: #FEFAE0;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}


/* PRODUCT DETAIL */


.main-detalleProducto{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.titulo-principal{
    text-align: center;
    color: #32381b;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.nombre-producto{
    color: #32381b;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: underline #32381b;
    
}

.container-producto{
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', sans-serif;
    box-sizing: border-box;
    background-color: #afb988;
    border-radius: 1px;
    border-color: #606C34;
    border-style: groove;
    margin-top: 10px;
    margin-left: 300px;
    width: 60%;
    height: 70%;

}


.imagen-producto{
    float: left;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
    border: #32381b 1px;
    
}

.imagen-single-product{
    width: 350px;
    
}

.descripcion-producto{
    margin-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    
}

.descripcion{
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    color: #32381b;
    margin-bottom: 10px;
    text-align: left;
}

.subrayado{
    text-decoration: underline #32381b;
}


.agregarAlCarrito{
    font-weight: bold;
    color: #32381b;
    margin-top: 50px;
   
}

.button-carrito{
    width: 40px;
    height: 50px;
    background-color: #475128;
    border-radius: 1px solid;
    border: #475128; 
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.button-carrito:hover{
    background-color: #afb988;
}

#fa-cart-shopping{
    font-size: 20px;
    color: #FEFAE0;
    margin-top: 10px;
}

#fa-cart-shopping:hover{
    color: #475128;
}

.button-editar-productDetail{
    width: 40px;
    height: 50px;
    background-color: #475128;
    border-radius: 1px solid;
    border: #475128; 
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.button-editar-productDetail:hover{
    background-color: #afb988;

}

.fa-x{
    color: #FEFAE0;
    font-size: 20px;
    margin-top: 10px;

}

.fa-x:hover{
    color: #475128;

}

.button-eliminar-productDetail{
    width: 40px;
    height: 50px;
    background-color: #475128;
    border-radius: 1px solid;
    border: #475128; 
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    transition-duration: 0.5s;

}

.button-eliminar-productDetail:hover{
    background-color: #afb988;
}

.fa-pen-to-square{
    color: #FEFAE0;
    font-size: 20px;
    margin-top: 10px;

}

.fa-pen-to-square:hover{
    color: #475128;

}

.flechas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 90px;
    flex-wrap: nowrap;
    width: 90%;
}

.flecha-anterior{
    justify-content: left;
    margin-right: 90px;
    margin-left: 70px;
}

.button-flechaAnterior{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    background-color: #606C34;
    border: #32381b;
    cursor: pointer;
    transition-duration: 0.5s;
    
}

.button-flechaAnterior:hover{
    background-color: #afb988;
}

.fa-arrow-left{
    font-size: 30px;
    font-weight: bold;
    color: #FEFAE0;
    transition-duration: 0.5s;
}

.fa-arrow-left:hover{
    color: #606C34;

}

.flecha-siguiente{
    justify-content: right;
    margin-left: 190px;

}

.button-flechaSiguiente{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    background-color: #606C34;
    border: #32381b;
    cursor: pointer;
    transition-duration: 0.5s;

}

.button-flechaSiguiente:hover{
    background-color: #afb988;
}

.fa-arrow-right{
    font-size: 30px;
    font-weight: bold;
    color: #FEFAE0;
    transition-duration: 0.5s;
}

.fa-arrow-right:hover{
    color: #606C34;
}

.anterior{
    font-family: 'Amatic SC', sans-serif;
    color: #606C34;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.siguiente{
    font-family: 'Amatic SC', sans-serif;
    color: #606C34;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
   
}



/* REGISTER */




.formulario-registro {
    width: 300px;
    margin: 0 auto;
    justify-items: center;
    display: flex;
    padding: 15px;


   
}


.formulario-registro h2 {
    text-align: center;
    width: 100%;
    display: flex;
   font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-bottom: 20px;


   


}


.item-formulario {
    margin-bottom: 15px;
   
}


.item-formulario label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;


}


.item-formulario input,
.item-formulario select {
    width: 150%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
   
}


.boton-registro {
    display: block;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    width: 150%;
    padding: 10px;
    background-color: #606C38;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}


.boton-registro:hover {
    background-color: #475128;
}

.text-danger{
    color: red;
    font-family: 'Amatic SC', sans-serif;
}


/* LOGIN */


.link-registrate {
    font-size: 18px;
    color: #475128;
}


/* FOOTER */

.main-footer {
    width: 100%;
    height: 100%;
    background-color: #606C34;
    color: #FEFAE0;
    padding: 20px 0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
 
}

.footer-data {
    color: #FEFAE0;
    text-align: center;
    flex-direction: row;
  }
  


.barra-navegacion-footer1 {
    font-family: 'Amatic SC', sans-serif;
    color: #32381b;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;

}

.mediosContacto{
    margin-bottom: 5px;
}

.fa-phone .fa-whatsapp .fa-envelope{
    color: #FEFAE0;
    margin-bottom: 15px;

}

p.contactoTelefono .contactoWhatsapp{
    font-weight: 400;
    margin-bottom: 20px;
    
}

a.link-email{
    color: #FEFAE0;
    margin-bottom: 15px;
    
}

.redesSociales{
    margin-top: 15px;
    margin-bottom: 5px;
}

.fa-instagram .fa-facebook .fa-x-twitter{
    color: #FEFAE0;
    margin-bottom: 10px;
    
}

.suscripcion{
    margin-top: 15px;
    margin-bottom: 5px;
}

.barra-email-suscripcion{
    border-radius: 8px;
    background-color: #f5f5f5;
    transition: all 0.5s ease;
    text-align: center;
    width: 150px;
    cursor: pointer;
}
.barra-email-suscripcion:hover{
    background-color: #ccc;
}

.boton-footer-suscribir{
    border-radius: 8px;
    background-color: #f5f5f5;
    transition: all 0.5s ease;
    padding: 3px;
    cursor: pointer;
}

.boton-footer-suscribir:hover{
    background-color: #FEFAE0;
    color: #606C34;
    
}

.nav-footer-copyright{
    margin-top: 20px;
    font-size: 14px;
    color: #FEFAE0;
}

.footer-copyright p{
    margin: 0;
    color: #32381b;
    padding: 15px 0;
    text-align: center;

}

/*admin ejs*/

.h2-admin{
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 20px;
}
.link-editar{
    font-size: 18px;
    color: #475128;
    padding-left: 20px;
}
.link-eliminar{
    font-size: 18px;
    color: #475128;
}


.form-admin-ejs{
    width: 300px;
    padding-left: 25px;
}


/* Editar Producto Ejs */

.main-editarProducto{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
}

.titulo-editarProducto{
    color: #32381b;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.form-editarProducto{
    width: 450px; 
    height: auto;
    margin: 80px auto;
    border-radius: 2px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    padding-left: 30px; 
    background-color: #606C38; 
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    color: #ebebeb;
   
   
}

.item-editarProducto{
    width: 400px;
    font-size: 18px;
    font-weight: bold;


}

label{
    display: block; 
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    background-color: #ebebeb; 
    width: 350px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #606C34;
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

input:hover{
    background-color: white;
}

.boton-editarProducto{
        padding: 10px;
        font-size: 16px;
        text-align: center;  
        margin-bottom: 20px; 
        margin-top: 10px;
        text-transform: uppercase;
        background-color: #ebebeb; 
        border-style: solid; 
        border-radius: 10px;  
        width: 100px;   
        color: #32381b;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
        transition-duration: 0.5s;
    }

.boton-editarProducto:hover{
        background-color: #afb988;
    }  
    


/* MEDIA QUERIES */

@media (min-width: 420px){
.icono-carrito{
    display: block;
}

}


@media (min-width: 768px){
.logo{
    display: block;
}
.mini-logo{
    display: none;
}

.icono-carrito{
    margin-right: 10px;
}
.caja-barra-navegacion li{
    font-size: 18px;
}
.caja-producto{
    width: 28%;
    margin-left: 10px;
}
.caja-hija-productos-nuevos{
    width: 20%;
}



}


@media (min-width: 992px){
.titulo{
    font-size: 22px;
}
.caja-barra-navegacion li{
    font-size: 20px;
}
.botones-ingresa-registrate{
    padding-right: 40px;
}
.enlace-ingresa{
    font-size: 18px;
    width: 100px;
}
.enlace-registrate{
    font-size: 18px;
    width: 100px;
}
.lista-descripcion-producto li{
    font-size: 19px;
}
.link-ver-mas{
    font-size: 19px;
}

}

@media (min-width: 1200px){
.titulo{
    font-size: 26px;
}

}

.button-editar , .button-eliminar {
    width: 80px;
    height: 50px;
    background-color: #FEFAE0;
    border-radius: 1px solid;
    border: #FEFAE0;
    margin-left: 10px;
    transition-duration: 0.5s;
    
}

.eliminarProducto-formulario{
    width: 300px;
    margin: 0 auto;
    justify-items: center;
    display: flex;
    padding: 15px;
}

.eliminarProducto-formulario h2{
    text-align: center;
    width: 100%;
    display: flex;
   font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-bottom: 20px;

}



.item-eliminarProducto label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;


}


.item-eliminarProducto input {
    width: 150%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
   
}

.boton-eliminarProducto {
    display: block;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    width: 150%;
    padding: 10px;
    background-color: #606C38;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.boton-eliminarProducto:hover {
    background-color: #475128;
}


/*----------------------- myProfile ---------------------- */
.section-MyProfile {
    font-family: Arial, Helvetica, sans-serif;
}
.section-MyProfile .name-email {
 
    padding: 15px 15px;
    margin:50px auto;
    margin-bottom: 20px;
    width: 50%; 
    max-width: 600px; 
    box-shadow: 0px 0px 8px rgb(157, 157, 157);
    transition: all 450ms;
    border-radius: 10px;

}
.section-MyProfile .name-email:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
    opacity: 1;
}

.section-MyProfile .info-profile {
 
    padding: 25px 15px;
    margin: auto;
    margin-bottom: 20px;
    width: 50%; 
    max-width: 600px; 
    box-shadow: 0px 0px 8px rgb(157, 157, 157);
    transition: all 450ms;
    border-radius: 10px;

}
.section-MyProfile .info-profile:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
    opacity: 1;
}

.name-email img{
    width: 60px;
    margin: 10px;
    display: flex;
    margin-right: 15px;
}
.name-email {
    display: flex;
    justify-content:flex-start;
}
.name-email .name{
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.name-email .email{
    font-weight: 200;
}
.info-profile h3{
    font-weight: 500;
}

.info-profile .info{
    display: flex;
    justify-content: flex-start;
    
}
.fa-phone {
    margin-right: 10px;
    margin-bottom: 16px;
    
}
.fa-location-dot{
    margin-right: 10px;
    margin-bottom: 16px;
}
.fa-earth-americas{
    margin-right: 10px;
    margin-bottom: 16px;
}

.link-myProfile{
    background-color: #afb988;

}
