<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Eliminar Producto"}) %>
<%- include('../partials/header.ejs') %>



<main>
    <div class="eliminarProducto-formulario">
       <form action="#">
        <h2>Eliminar Producto</h2>
       <div class="item-eliminarProducto">
        <label for="eliminarProducto">Ingresa el ID del producto a Eliminar</label>
        <input type="text" id="eliminarProducto" name="eliminarProducto" required> 
    </div>
    <button class="boton-eliminarProducto" type="submit">Eliminar</button>
</div>
</form>
    
</main>





<%- include('../partials/footer.ejs') %>