<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Login"}) %>
<%- include('../partials/header.ejs') %>


    <div class="section-MyProfile">
   
    <div class="name-email">
        <div>
            <img src="/img/users/profile.jpg" alt="img">
        </div>
        
        <div>
            <h3 class="name">Nombre y apellido</h3>
            <h3 class="email">Email:</h3>
        </div>
    </div>

    <div>
        <div class="info-profile">
            <div class="info">
                <i class="fa-solid fa-phone"></i>
                <h3>Telefono:</h3>
            </div>
            <div class="info">
                <i class="fa-solid fa-earth-americas"></i>
                <h3>Pais:</h3>
            </div>
            <div class="info">
                <i class="fa-solid fa-location-dot"></i>
                <h3>Localidad:</h3>
            </div>
   
        </div>
    </div>
</div>
</div>

<%- include('../partials/footer.ejs') %>