<%- include('../partials/head.ejs', {cssSheet: "styles.css", title: "Registro"}) %>
<%- include('../partials/header.ejs') %>

<main>
    <div class="formulario-registro">
        
        <form action="#">
            <h2>Registro</h2>
            
            <div class="item-formulario">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="item-formulario">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" required>
            </div>
            <div class="item-formulario">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="item-formulario">
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña" minlength= "5" required>
            </div>
            <div class="item-formulario">
                <label for="repetir-contraseña">Repetir Contraseña</label>
                <input type="password" id="repetir-contraseña" name="repetir-contraseña" minlength= "5" required>
            </div>
            <div class="item-formulario">
                <label for="genero">Género</label>
                <select id="genero" name="genero">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
            </div>
            <div class="item-formulario">
                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" required>
            </div>
            <div class="item-formulario">
                <label for="pais">País</label>
                <input type="text" id="pais" name="pais" required>
            </div>
            <div class="item-formulario">
                <label for="localidad">Localidad</label>
                <input type="text" id="localidad" name="localidad" required>
            </div>
            <button class="boton-registro" type="submit">Registrar</button>
        </form>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>