<footer class="main-footer">
    <div class="barra-navegacion-footer1" >
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h3 class="mediosContacto">Medios de contacto:</h3>
                    <p class="contactoTelefono"><i class="fa-solid fa-phone"></i> +54 156 789 1011</p>
                    <p class="contactoWhatsapp"><i class="fa-brands fa-whatsapp"></i> +54 156 789 1011</p>
                    <a href="#" class="link-email"><i class="fa-solid fa-envelope"></i> ventas@themerchmarket.com</a>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h3 class="redesSociales">Visita nuestras redes sociales:</h3>
                    <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-x-twitter"></i></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <form action="/#" method="post">
                        <h3 class="suscripcion">Suscríbete para recibir nuestras novedades:</h3>
                        <label for="email"></label>
                        <input type="email" id="email" name="email" class="barra-email-suscripcion" placeholder="Ingresa tu email" required>
                        <button type="submit" class="boton-footer-suscribir">Suscribirse</button>
                    </form>
                </article>
            </div>
        </div>
    </div>
</footer>
<div class="footer-copyright">
    <div class="container">
        <p>Copyright © 2023 - The Merch Market</small>
    </div>
</div>


</body>
</html>
