
    <header>
        <section class="header-principal">
            <a href="/" class="caja-logo">
                <img src="/img/logo-ajustado.jpg" alt="logo" class="logo">
                <img src="/img/mini-logo1.jpg" alt="mini-logo" class="mini-logo">
            </a>
            <section class="caja-titulo-y-barra-busqueda">
                <h1 class="titulo"> The Merch Market</h1>
                <form action="" >
                    <label class="caja-barra-busqueda">
                        <input type="text" name="barra-busqueda" class="barra-busqueda" placeholder="Buscar...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </form>
            </section>
            <div class="caja-botones-y-carrito">

                <div class="icono-carrito">
                     <a href="/Carrito-de-compras" ><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <% if (locals.isLogged) { %>
                    <article class="botones-miPerfil-logOut">
                        <a href="/users/profile" class="enlace-miPerfil">Mi Perfil</a>
                        <a href="/users/logout" class="enlace-logOut">Cerrar Sesión</a>
                    </article>
                <% } else { %>
                    <article class="botones-ingresa-registrate">
                        <a href="/users/login" class="enlace-ingresa">Ingresa</a>
                        <a href="/users/register" class="enlace-registrate">Registrate</a>
                    </article>
                <% } %>
        
            </div>
        </section>
        <section class="header-navbar">
            <nav class="barra-navegacion">
                <ul class="caja-barra-navegacion">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/categories">Categorias</a></li>
                    <% if( locals.isLogged){ %>
                    <li><a href="/products/Crear-Producto">Crear Produtos</a> </li>
                    <% } %>
                    <li>Nosotros</li>
                    <li><a href="/contactanos">Contactanos</a></li>
            </ul>
        </nav>
        </section>


    </header>