
<body>
    <header>
        <section class="header-principal">
            <a href="/" class="caja-logo">
                <img src="/img/logo-ajustado.jpg" alt="logo" class="logo">
                <img src="/img/mini-logo1.jpg" alt="mini-logo" class="mini-logo">
            </a>
            <section class="caja-titulo-y-barra-busqueda">
                <h1 class="titulo"> The Merch Market</h1>
                <form action="" >
                    <label class="caja-barra-busqueda">
                        <input type="text" name="barra-busqueda" class="barra-busqueda" placeholder="Buscar...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </form>
            </section>
            <div class="caja-botones-y-carrito">

                <div class="icono-carrito">
                     <a href="/Carrito-de-compras" ><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <article class="botones-ingresa-registrate">
                    <a href="/users/login" class="enlace-ingresa">Ingresa</a>
                    <a href="/users/register" class="enlace-registrate">Registrate</a>
                </article>
            </div>
        </section>
        <section class="header-navbar">
            <nav class="barra-navegacion">
                <ul class="caja-barra-navegacion">
                    <li>Inicio</li>
                    <li>Categorias</li>
                    <li>Lo Nuevo</li>
                    <li>Nosotros</li>
                    <li>Contactanos</li>
            </ul>
        </nav>
        </section>


    </header>